body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color:powderblue;
  }
  :root {
    --primary-color: #B68C5A;
    --gray: #f2f2f2;
    --footer-bg: #111111;
    --white: #ffffff;
    --black: #414040;
  }

  
  .banner{
    background: linear-gradient(180deg, #111111 0%, rgba(17, 17, 17, 0) 100%),url(images/istockphoto-1438332857-612x612.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
    height: 500px;
  }
  
  /* Slider section Responsivr for smalldevice  */
  @media only screen and (max-width: 576px){
  .slider-img{
    width: 300%!important;
  }
  }
  @media only screen and (min-width: 992px){
  .slider-img{
    width: 100%!important;
  }
  }
